<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238752454769-v575c0lndu5uk6i8joesbgqgdlp3n0lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238752454769-v575c0lndu5uk6i8joesbgqgdlp3n0lv</string>
	<key>API_KEY</key>
	<string>AIzaSyAVAoZV5yvgOi_Mp4LZGWhtmLDkqz3uP7w</string>
	<key>GCM_SENDER_ID</key>
	<string>238752454769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitchCloneTutorial</string>
	<key>PROJECT_ID</key>
	<string>twitch-clone-tutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>twitch-clone-tutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238752454769:ios:ad80b2b678f63c1fd563d0</string>
</dict>
</plist>